@import "tailwindcss";

@layer base {
  @media print {
    @page {
      size: A4;
      margin: 0;
    }
    body {
      background: white !important;
      -webkit-print-color-adjust: exact;
    }
    .print-hidden {
      display: none !important;
    }
  }
}
